# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.env
lostlink.db
lostlink.db-journal

# Node
node_modules/
dist/
.eslintcache

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/
.idea/

# Duplicate files
CCode_FileLostLinkAIfrontend/
